<div class="col-8" style="background-color: white;">
  <section class="perfilprofesional">
    <h2> perfil profesionante </h2>
    <p>estudiante que siempre está buscando oportunidades para aprender y mejorar mis habilidades en el campo de la programacion que esta en constante evolución. Además, tengo habilidades de resolución de problemas y comunicación efectiva que me permiten trabajar en equipo y cumplir con los objetivos del proyecto. </p>
    <h2>Experiencia laboral</h2>
    <h3>tecnico de mantenimiento de Hardware</h3>
    <ul>
      <li>encargado del montaje del pc</li>
      <li>soporte tecnico</li>
      <li>reparacion de hardware</li>
    </ul>
    <h3>tecnico de sofware</h3>
    <ul>
      <li>Analisis de informacion para modificar sistemas</li>
      <li>configuracion de sistemas</li>
      <li>mantenimiento de sistemas</li>
    </ul>
    <h3>Editor de videos</h3>
    <ul>
      <li>ediciones con el programa Filmora </li>
    </ul> 
    <h3>Marketing digital</h3>
    <ul>
      <li>implementar y gestionar campañas publicitarias que motiven la compra de los productos y servicios de una empresa</li>
      <li>Conducir a los visitantes del sitio web y recopilar datos de clientes potenciales.</li>
    </ul>
    <h3>Programador basico de pag web</h3>
    <ul>
      <li>diseñador de sitios web y desarrollador de sus funciones, mediante lenguajes de programación</li>
    </ul>
  </section>
</div>
